<head>
    <title>
        {% block title %}
            Jobeet
        {% endblock %}
    </title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% block styles %}
    {% endblock %}

    {% block base_stylesheet %}
        <link type="text/css" rel="stylesheet" href="{{ asset("css/styles.css") }}">
    {% endblock %}

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    {% block meta %}
    {% endblock %}
</head>