
<div class="container-fluid p-0">
    <div class="row">
        <div class="col-4" >
            <div class="p-3" [ngStyle]="{backgroundColor:'var(--light)'}">
                <h3>cart</h3>
                <shopping-cart >
                </shopping-cart>
            </div>
        </div>
        <div class="col-8 container-fluid">
            <div class="row justify-content-end align-items-end">
                <div class="col">
                    <h2 class="mb-0">shopping list</h2>
                </div>
                <div class="col-auto">
                    <a routerLink="/shopping-list/manage/items"
                        class="btn btn-warning font-weight-bolder px-2 py-0">
                        manage items
                    </a>
                </div>
                <div class="col-12">
                    <hr>
                    <message-outlet-component outletType="inComponent">
                    </message-outlet-component>
                </div>
            </div>
            <conditional-component
                [condition]="!loading">
                <ng-template conditionalContent>
                    <pagination-component
                        [fetchData]="fetchData"
                        [pagination]="pagination">
                        <ng-template paginatedContent>
                            <div *ngIf="items.length<=0" class="row">
                                <div class="col-12">
                                    <ul class="list-group">
                                        <li class="list-group-item">
                                            <h5>No items found</h5>  
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <add-item-to-cart
                                        *ngFor="let itm of items"
                                        [item]="itm">
                                    </add-item-to-cart>
                                </div>
                            </div>
                        </ng-template>
                    </pagination-component>
                </ng-template>
            </conditional-component>
        </div>
    </div>
</div>