<div class="container-fluid pb-4">
    <div class="row">
        <div class="col-8 mb-3 container-fluid">
            <div class="row">
                <div class="col-12">
                    <h2 class="font-weight-bold">
                        Current servers
                    </h2>
                </div>
                <div class="col-12">
                    <add-server-form>
                    </add-server-form>
                </div>
                <div class="col-6">
                    <server-list
                        [enabled]="true"
                        title="Active Servers">
                    </server-list>
                </div>
                <div class="col-6">
                    <server-list
                        [enabled]="false"
                        title="Disabled Servers">
                    </server-list>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="p-3"  
                [ngStyle]="{backgroundColor:'var(--light)'}">
                <h3 class="font-weight-bold">
                    Server logs
                </h3>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>