{% macro modal(title,body,footer,formTheme) %}
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">{{ title }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% if body is instanceof("Symfony\\Component\\Form\\FormView") %}
                        {% if formTheme is not empty %}
                            {% form_theme body formTheme %}
                        {% endif %}
                        {{ form(body) }}
                    {% else %}
                        {{ body }}
                    {% endif %}
                </div>
                {% if footer is not null %}
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary">Save changes</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endmacro %}