{% extends 'base.html.twig' %}

{% from "macro/table.html.twig" import table %}

{% from "macro/actions.html.twig" import actions %}

{% from "macro/paginator.html.twig" import paginator %}

{% block title %}Categories{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            {% include "/default/sidebar.html.twig" %}
            <div class="col-md-10">
                {% if isSearchResult is defined %}
                        <h3 class="my-3">Existing Jobs for <strong>"{{ isSearchResult }}"</strong> query.</h3>
                {% endif %}
                <div class="m-md-2 p-md-3 container-fluid">
                    <div class="row">
                        <div class="col-md-4">
                            <h2 class="card-title mb-4">
                                <strong>Jobs</strong>
                            </h2>
                        </div>
                    </div>
                    {{ table(entityIndex,tableInfo,actions) }}
                    {{ paginator(entityIndex,limit,page) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
