{% extends "crud/single.html.twig" %}

{% from "macro/actions.html.twig" import actions %}

{% block single_title %}
    <h2>{{ entityInstance.getJtName }}</h2>
{% endblock %}

{% block single_content %}
{% endblock %}