<div class="modal-content" [ngStyle]="{'max-width':'60%'}">
  <div class="container-fluid">
    <div class="row modal-header">
        <div class="col">
            <h4 class="m-0">Add new Recipe.</h4>
        </div>
        <div class="col text-right">
            <button type="button" 
                class="btn btn-danger font-weight-bolder px-2 py-0" 
                (click)="close()" >
                &times;
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="font-weight-bolder"></h2>
        </div>
          <div class="modal-body col-12">
            <message-outlet-component outletType="inComponent">
            </message-outlet-component>
            <recipe-form 
              [submitHandler]="this.addRecipe">
            </recipe-form>
        </div>
    </div>
  </div>
</div>