<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h3 class="mb-0">
        latest recipes.
      </h3>
    </div>
    <div class="col-auto">
      <button 
        (click)="addRecipe()"
        class="btn py-0 px-2 btn-success font-weight-bolder">
        add recipe
    </button>
    </div>
    <div class="col-12">
      <hr>
    </div>
    <div class="col-12" >
      <conditional-component
        [condition]="recipes && !loading">
        <ng-template conditionalContent>
          <div *ngIf="recipes.length===0; else paginated">
            No recipes found
          </div>
          <ng-template #paginated>  
            <pagination-component 
              [fetchData]="fetchData"
              [pagination]="pagination">
              <ng-template paginatedContent>
                <a *ngFor="let listItem of recipes"
                  [routerLink]="listItem._id"
                  class="container-fluid px-0"
                  [ngStyle]="{color:'black'}">
                  <div class="row pb-4">
                    <div class="col-12">
                      <h6 class="font-weight-bolder">{{listItem.name}}</h6>
                      {{listItem.description.slice(0,50)}}...
                    </div>
                    <div class="col-12 text-right">
                      {{listItem.createdAt}}
                    </div>
                  </div>
                </a>
              </ng-template>
            </pagination-component>
          </ng-template>
        </ng-template>
      </conditional-component>
    </div>
  </div>
</div>