<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <h2 class="font-weight-bolder">Recipes</h2>
    </div>
  </div>
  <conditional-component
    [condition]="recipes && !loading">
    <ng-template conditionalContent>
      <pagination-component 
        [fetchData]="fetchData"
        [pagination]="pagination">
        <ng-template paginatedContent>
          <div 
            *ngFor="let listItem of recipes"
            class="row">
            <div class="col-12 container-fluid">
              <div class="row">
                <div class="col">
                  <a [routerLink]="listItem._id">
                    <h3 class="font-weight-bolder">{{listItem.name}}</h3>
                  </a>
                </div>
                <div class="col-auto text-right">
                  <recipe-actions 
                    [recipeId]="listItem._id"
                    editAction="/recipes/edit/{{listItem._id}}">
                  </recipe-actions>
                </div>
              </div>
            </div>
            <div class="col-12">
              <ul class="horizontal-list-group text-right">
                <li 
                  class="list-group-item d-inline-block"
                  *ngFor="let ing of listItem.ingredients"
                  >
                  {{ing.ingredient.name}}
                  {{ing.quantity}}
                  {{ing.unit.name}}
                </li>
              </ul>
            </div>
            <div class="col-12">
              {{listItem.description.slice(0,400)}}...
            </div>
            <div class="col-12">
              <hr/>
            </div>
          </div>
        </ng-template>
      </pagination-component>
    </ng-template>
  </conditional-component>
</div>
