<conditional-component
  [condition]="!loading">
  <ng-template conditionalContent>
    <div 
      *ngIf="currentRecipe; else noRecipeFound">
      <div 
        class="container-fluid p-0" 
        id="{{currentRecipe._id}}">
        <div class="row">
          <div class="col">
            <h2 class="font-weight-bolder">{{currentRecipe.name}}</h2>
            <p class="text-right mb-0">
              created at <strong>{{currentRecipe.createdAt}}</strong>, <br> last updated at <strong>{{currentRecipe.updatedAt}}</strong>
            </p>
          </div>
          <div class="col-12 py-3 text-right">
            <recipe-actions 
              [recipeId]="currentRecipe._id"
              editAction="/recipes/edit/{{currentRecipe._id}}">
            </recipe-actions>
          </div>
        </div>
        <div class="row">
          <div class="col-12 pb-3">
            <h3>Ingredients</h3>
            <div class="container-fluid"
              *ngFor="let ingredient of currentRecipe.ingredients">
              <div class="row">
                <div class="col-12">
                  {{ingredient.ingredient.name}}
                  {{ingredient.quantity}}
                  {{ingredient.unit.name}}
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <h3>Preparation</h3> 
            {{currentRecipe.description}}
          </div>
        </div>
      </div>
    </div>
    <ng-template #noRecipeFound>
      <h3 class="font-weight-bolder">No recipe found.</h3>
    </ng-template>
  </ng-template>
</conditional-component>